<table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center">
{{ include('PayPalExpress/Resource/template/Block/paypal_logo.twig') }}
</td></tr></table>
